<% content_for :title, 'Pages' %>

<%= link_to 'New Page', new_admin_page_path %>

<table class="table table-bordered">
  <tr><th>Title</th><th>Actions</th></tr>
  <% @pages.each do |page| %>
    <tr>
      <td><%= page.title %></td>
      <td></td>
    </tr>
  <% end %>
</table>

<%= paginate @pages %>
