<%= admin_fields_for @space do |f| %>
  <div class="form-group">
    <%= f.input :name %>
  </div>
  <div class="form-group">
    <%= f.input :country %>
  </div>
  <div class="form-group">
    <%= f.input :description %>
  </div>
<% end %>
