<% content_for :title, 'New Space' %>

<%= link_to 'Back to Dashboard', host_dashboard_path %>

<div class="form">
  <div class="tab-content">
    <h2>Please provide information about your space</h2>
    <%= simple_form_for @space do |f| %>
      <%= render 'form_fields' %>
      <%= f.submit 'Create Space', class: 'btn btn-default' %>
    <% end %>
  </div>
</div>
