*, *:before, *:after {
  box-sizing: border-box;
}

//Main wrapper
#main {
    margin-top:$navbar-height;
}

//Typography
body {
    font-weight:normal;
    line-height: 1.2em;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 100;
}

//Colors
$blue: #00E7FF;
$green: #00FFAD;
$red: #FF4A21;

//Links & Buttons
a {
    color: $blue;
    &:hover {
        color: lighten($blue, 10%);
        text-decoration: none;
    }
}

.btn.blue {
    background: $blue;
    color: white;
}