.form {
  background:lighten($body-bg,3%);
  max-width:600px;
  padding-bottom:1em;
  margin:40px auto;
  position: relative;
  span:not(.error) {
    position: relative;
    display: block;
    float:left;
    width:50%;
    position: relative;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select: none;
    margin-bottom:2em;
    &.active {
      top:0;
      label label {
        background: darken($blue, 5%);
      }
    }
    &:last-child {
      margin-right:0;
    }
    label {
      position: relative;
      top:.1em;
      left:0;
      width:100%;
      label {
        overflow: hidden;
        cursor: pointer;
        color:white;
        text-align: center;
        line-height:3em;
        background: darken($blue, 20%);
      }
    }
    input {
      // width:auto;
      // height:auto;
      // display:inline;
      // margin-right:.2em;
      // display:none;
    }  
    &.hint {
      width:100%;
      margin:0 0 .5em 0;
      color:lighten($body-bg, 30%);
    } 
  }
}

//Checkboxes
.checkbox {
  margin: 0;
  + .checkbox {
    margin: 0;
  }
  input[type="checkbox"] {
    margin: -8px 0 0 -23px;
  }
}

//Homepage radios
#user_role_guest,
#user_role_host {
  display:none;
}

.toggle {
  position: relative;
  float:left;
  width:100%;
  .host-choice {
    position: absolute;
    bottom:1em;
  }
}

.tab-group {
  list-style:none;
  padding:0;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  li a {
    display:block;
    text-decoration:none;
    padding:15px;
    background:rgba($gray-light,.25);
    color:$gray-light;
    font-size:20px;
    float:left;
    width:50%;
    text-align:center;
    cursor:pointer;
    transition:.5s ease;
    &:hover {
      background:$green-dark;
      color:white;
    }
  }
  .active a {
    background:$green;
    color:white;
  }
}

.tab-content {
  padding:2em;
}

.tab-content > div:last-child {
  display:none;
}

.input {
  position: relative;
  clear:both;
  &.field_with_errors {
    input {
      border:1px solid $red;
    }
  }
  &.boolean {
    margin:1em 1em 3em .5em;
  }
}

.form-control {
  border:0;
  box-shadow:none;
  -webkit-box-shadow:none;
}

label {
  // position:absolute;
  // transform:translateY(6px);
  left:.5em;
  color: white;
  transition:all 0.15s ease;
  -webkit-backface-visibility: hidden;
  font-size:18px;
  font-weight: 300;
  margin:1em 0 .5em 0;
  top:.2em;
  label {
    margin: 0;
  }
  &.check_boxes {
    clear:both;
    margin:.5em 0;
    width:100%;
    border-bottom: 1px solid $blue;
    padding:1em;
  }
  abbr,
  abbr[title] {
    margin:2px;
    color:$green;
    border-bottom:none;
  }
  &.country {
    display:none;
  }
}

label.active {
  opacity: 0;
  .req {
    opacity:0;
  }
}

label.highlight {
    color:white;
}

input[type="text"][class*=" "],
input[type="email"][class*=" "],
input[type="password"][class*=" "],
textarea[class*=" "],
select[class*=" "] {
  margin-bottom:.5em;
  font-size:22px;
  display:block;
  width:100%;
  height:100%;
  padding:5px 10px;
  background:none;
  background-image:none;
  border:1px solid $gray-light;
  color:white;
  border-radius:0;
  transition:border-color .25s ease, box-shadow .25s ease;
  &:focus {
        outline:0;
        border-color:$green;
  }
}

textarea {
  border:2px solid $gray-light;
  resize: vertical;
}

.field-wrap {
  position:relative;
  margin-bottom:40px;
}

.top-row {
  &:after {
    content: "";
    display: table;
    clear: both;
  }

  > div {
    float:left;
    width:48%;
    margin-right:4%;
    &:last-child { 
      margin:0;
    }
  }
}

.button,
.btn {
  border:0;
  outline:none;
  border-radius:0;
  padding:10px 15px;
  font-size:2rem;
  font-weight:300;
  text-transform:uppercase;
  letter-spacing:.1em;
  background:$green;
  color:white;
  transition:all.2s ease;
  -webkit-appearance: none;
  display:inline-block;
  &:hover, &:focus {
    background:$green-light;
    color:white;
  }
}

.button-block {
  display:block;
  width:100%;
}

.forgot {
  margin-top:-20px;
  text-align:right;
}