//Styles for data tables and grids

//Table striping
.table-striped
    > tbody
        > tr {
            &:nth-of-type(odd) {
                background:lighten($body-bg, 10%);
            }
            th, td {
                border:none;
                padding:1em;
            }
        }

.table-bordered {
    border:none;
    margin-top:2em;
}

.panel.panel-default {
    border:none;
    background:lighten($body-bg, 8%);
    > .panel-heading {
        border:none;
        background:lighten($body-bg, 10%);
        .panel-title 
            > a {
                color:white;
            }
    }
    .panel-body {
        img {
            margin: 0 0 1em 0;
            width:100%;
            image-rendering: crisp-edges;
        }
        p {
            padding:2em;
            background:lighten($body-bg, 10%);
        }
    }
}