<p>Someone wants to stay at <%= @space.name %>. Please review the request
below and respond to the specified email address.</p>

<p><strong>Guest's Email Address:</strong> <%= @request.email %></p>

<p><strong>Message:</strong></p>

<p><%= @request.message %></p>
