<% content_for :title, @menu.name %>

<%= link_to 'New Menu Item', new_admin_menu_item_path(@menu) %>

<%= admin_table_tag %>
<tr><th>Label</th><th>Link</th><th>Weight</th><th>Actions</th></tr>
  <% @menu_items.each do |menu_item| %>
    <%= render partial: 'table_row', locals: { menu_item: menu_item } %>

    <%= render partial: 'table_row', collection: menu_item.items.ordered,
        as: :menu_item %>

  <% end %>
</table>
